/* 
   CSS definitions for the personal page of Michael V. DePalatis.
   This file may be redistributed under the terms of the GNU GPL v3.
*/

/**********************/
/** GENERIC SETTINGS **/
/**********************/

body {
  color: #000000;
  background: #a0a0a0;
  font-family: sans-serif;
  font-size: 12px;
}

a:link, a:visited, a:active, a:hover { color: #86a1b6; }
a:link, a:visited { text-decoration: none; }
a:active, a:hover { text-decoration: underline; }

img { border: 0px; }

/**********************/
/** DIVS AND CLASSES **/
/**********************/

#content {
    background: #ffffff;
    color: #000000;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#content h1, h2 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
}

#content h1 { font-size: 16pt; }

#content h2 { font-size: 14pt; }

#header, #topmenu, #footer {
    color: #ff8000;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
}

#header {
    width: 13em;
    color: white;
    background-color: #222222;
    margin: 0px auto 15px auto;
    padding: 30px 5px 30px 30px;
    font-family: monospace;
    font-size: 24pt;
    text-align: left;
}

#footer {
    position: relative;
    color: white;
    margin-left: auto;
    margin-right: auto;
    /*padding: 10px 0px 10px 40px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
    /*text-align: left;*/
}

#topmenu {
    padding: 5px 5px 10px 5px;
    font-family: sans-serif;
}

#container {
    width: 80%; /*60em;*/ /*100%;*/
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.sidebox {
    float: left;
    width: 16em;
    /*position: fixed;*/
    padding: 5px 5px 5px 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
}

.navbox {
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    background: #222222;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
}

.sidebox h1 {
    padding: 5px 5px 5px 5px;
    margin: -5px -5px 0px -5px;
}
