<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Homepage">
    <meta name="author" content="Michael V. DePalatis <depalatis@phys.au.dk>">
    <link type="text/css" rel="stylesheet" href="{{ root }}/mvdstyle.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <div id="topmenu">
      <a href="{{ root }}/index.html">About</a> |
      <a href="{{ root }}/research.html">Science</a> |
      <a href="{{ root }}/code.html">Code</a> |
      <a href="{{ root }}/photography.html">Photos</a> |
      <a href="{{ root }}/docs.html">Docs</a> |
      <a href="{{ root }}/resources.html">Links</a>
    </div>

    <div id="content">
      {{ content }}
    </div>
  <!--<div id="footer"></div>-->
  </body>
</html>
